@page
@model EcommerceModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Ecommerce</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <table class="left">
            <tr>
                <td>
                    <ul>
                        <li><p>@Idiomas.EcommerceL1</p></li>
                        <li><p>@Idiomas.EcommerceL2</p></li>
                        <li><p>@Idiomas.EcommerceL3</p></li>
                        <li><p>@Idiomas.EcommerceL4</p></li>
                        <li><p>@Idiomas.EcommerceL5</p></li>
                        <li><p>@Idiomas.EcommerceL6</p></li>
                        <li><p>@Idiomas.EcommerceL7</p></li>
                    </ul>
                </td>

            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>
