@page
@model LogEmpaquetadoModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.LogEmpaquetado</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="list-group">
            <p>@Idiomas.En <strong>Espack Eurologística</strong>, @Idiomas.LogEmpaquetadoL1</p>
            <table class="left">
                <tr>
                    <td class="columnas2">
                        <ul>
                            <li><p>@Idiomas.LogEmpaquetadoL2</p></li>
                            <li><p>@Idiomas.LogEmpaquetadoL3</p></li>
                            <li><p>@Idiomas.LogEmpaquetadoL4</p></li>
                            <li><p>@Idiomas.LogEmpaquetadoL5</p></li>
                            <li><p>@Idiomas.LogEmpaquetadoL6</p></li>
                            <li><p>@Idiomas.LogEmpaquetadoL7</p></li>
                        </ul>
                    </td>
                    <td class="columnas2">
                        <div style="min-width: 300px; width:90%;float:right;">
                            <img class="img-thumbnail" title="@Idiomas.LogEmpaquetado" src="~/Imagenes/LogEmpaquetado.jpg" alt="Espack" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>


