@page
@model ZaragozaModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Zaragoza &nbsp; <img src="~/Imagenes/españa.png" /></h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="text-center">
            <img class="bordessombray99sinmargen" src="~/Imagenes/Banner/Zaragoza.jpg" />
        </div>
        <br /><br />
        <table width="100%">
            <tr>
                <td class="columnas2">
                    <p>
                        <strong>ESPACK EUROLOGÍSTICA, S.L. - @Idiomas.Zaragoza.ToUpper()</strong>
                        <br /><br />
                    <p>@Idiomas.OficinasCentrales.ToUpper()<br /></p>
                    <ul>
                        <li>
                            <p>
                                A-68, Km 266 - P.I. P6 NAVES 2 y 3
                                <br />
                                50639 FIGUERUELAS (Zaragoza) ESPAÑA
                                <br />
                                TEL.+34 976 61 16 44
                                <br />
                                <a href="mailto:espackdis@espackeuro.com">espackdis@espackeuro.com</a>
                                <br /><br />
                            </p>
                        </li>
                    </ul>
                    <br /><br />
                    <p>
                        <strong>@Idiomas.GALARDONES</strong>
                    </p>
                    <ul>
                        <li><p>@Idiomas.ZaragozaL4</p></li>
                    </ul>
                </td>
                <td class="columnas2">
                    <iframe class="bordessombray95" width="400" height="400" src="https://maps.google.com/maps?q=41.761661,-1.158115&amp;num=1&amp;t=h&amp;ie=UTF8&amp;z=14&amp;output=embed"></iframe>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="col-sm-1"></div>


