<br />
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2 class="page-header page-header2">@Idiomas.LogIdentificación</h2>
        <div class="jumbotron jumbotron2">
            <br />
            <p>@Idiomas.En Espack Eurologística, ofrecemos las siguientes soluciones de logística integral de identificación idónea según el embalaje de cada producto:</p>
            <table width="100%">
                <tr>
                    <td class="columnas2">
                        <ul>
                            <li><p>@Idiomas.LogIdentificacionL1</p></li>
                            <li><p>@Idiomas.LogIdentificacionL2</p></li>
                            <li><p>@Idiomas.LogIdentificacionL3</p></li>
                            <li><p>@Idiomas.LogIdentificacionL4</p></li>
                            <li><p>@Idiomas.LogIdentificacionL5</p></li>
                        </ul>
                    </td>
                    <td class="columnas2">
                        <div style="min-width: 300px; width:90%;float:right;">
                            <img class="img-thumbnail" title="@Idiomas.LogIdentificación" src="~/Imagenes/LogIdentificacion.jpg" alt="Espack" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

