<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Ventajas</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <ul>
            <li>
                <p>@Idiomas.VentajasL1</p>
                <ul>
                    <li><p>@Idiomas.VentajasL2</p></li>
                    <li><p>@Idiomas.VentajasL3</p></li>
                    <li><p>@Idiomas.VentajasL4</p></li>
                    <li><p>@Idiomas.VentajasL5</p></li>
                    <li><p>@Idiomas.VentajasL6</p></li>
                </ul>
            </li>
            <li>
                <p>@Idiomas.VentajasL7</p>
                <ul>
                    <li><p>@Idiomas.VentajasL8</p></li>
                    <li><p>@Idiomas.VentajasL9</p></li>
                    <li><p>@Idiomas.VentajasL10</p></li>
                    <li><p>@Idiomas.VentajasL11</p></li>
                    <li><p>@Idiomas.VentajasL12</p></li>
                </ul>
            </li>
            <li>
                <p>@Idiomas.VentajasL13</p>
                <ul>
                    <li><p>@Idiomas.VentajasL14</p></li>
                    <li><p>@Idiomas.VentajasL15</p></li>
                    <li><p>@Idiomas.VentajasL16</p></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-1"></div>