@model Tipo_TrazaDocumentos
<style>
    table {
        width: 99%;
        border: 1px solid #999;
        margin: 0 auto;
        text-align: left;
        border-collapse: collapse;
        margin: 0 0 1em 0;
        caption-side: top;
    }

    caption, td, th {
        padding: 0.3em;
    }

    th, td {
        border-bottom: 1px solid #999;
        width: 7%;
        text-align: center;
    }

    caption {
        font-weight: bold;
        font-style: italic;
    }
    .noSearch.red {
        color: lightcoral;
    }

    .noSearch.hide {
        display: none;
    }
</style>
@{
    ViewData["Title"] = "S . G . D . E . Documents";
    string Documento = "";
    string Descri = "";
    foreach (var D in (List<Tipo_Documentos>)Metodos.SQL_ConsulaDocumentos("Select * from Documentos where IdReg='" + ViewBag.Idreg + "'"))
    {
        Documento = D.Documento;
        Descri = D.Descripcion;
    }
}

<a style="float:left; width:auto; margin-left:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="DOCNew">New Doc.</a>
<div class="text-center">
    <label>Search</label> <input id="searchTerm" type="text" onkeyup="doSearch()" />
    <br /><br />
    <h4>
        Document: @Documento @Descri
    </h4>
    <table id="datos" style="margin: 0 auto;">
        <tr>
            <td>Document</td>
            <th>DATE</th>
            <th>ED.</th>
            <th>User</th>
            <th>STATE</th>
            <th>File Name</th>
            <th>Action</th>
            <th>Obs.</th>
        </tr>
        @foreach (var Docs in (List<Tipo_TrazaDocumentos>)Metodos.SQL_ConsulaTrazaDocumentos("Select * from TrazaDocumentos where IdReg='" + ViewBag.Idreg + "' order by xfec"))
        {
    <tr>
        <td>@Docs.Documento</td>
        <td>@Docs.Xfec</td>
        <td>@Docs.NumEdicion</td>
        <td>@Docs.Xusr</td>
        <td>@Docs.EstadoEdicion</td>
        <td>@Docs.NombreArchivo</td>
        <td>@Docs.Accion</td>
        <td>@Docs.Obs</td>
    </tr>
        }
        <tr class='noSearch hide'>
            <td colspan="12"></td>
        </tr>
    </table>
</div>
<script>
    document.getElementById("Contenedor").className = "no";
    function doSearch() {
        const tableReg = document.getElementById('datos');
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;

        // Recorremos todas las filas con contenido de la tabla
        for (let i = 1; i < tableReg.rows.length; i++) {
            // Si el td tiene la clase "noSearch" no se busca en su cntenido
            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }

            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            // Recorremos todas las celdas
            for (let j = 0; j < cellsOfRow.length && !found; j++) {
                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    total++;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }

        // mostramos las coincidencias
        const lastTR = tableReg.rows[tableReg.rows.length - 1];
        const td = lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");
        if (searchText == "") {
            lastTR.classList.add("hide");
        } else if (total) {
            td.innerHTML = total + " Matches found.";
        } else {
            lastTR.classList.add("red");
            td.innerHTML = "No matches found.";
        }
    }
</script>