@model Tipo_Acciones
<style>
    table {
        width: 99%;
        border: 1px solid #999;
        margin: 0 auto;
        text-align: left;
        border-collapse: collapse;
        margin: 0 0 1em 0;
        caption-side: top;
    }

    th, td {
        border-bottom: 1px solid #999;
        width: 7%;
        padding: 0.3em;
        text-align: center;
    }

    .noSearch.red {
        color: lightcoral;
    }
    .noSearch.hide {
        display: none;
    }
</style>
@{
    ViewData["Title"] = "S . G . D . E . Documents";
    int RolInt = Int32.Parse(Metodos.ObtenRol(User.Identity.Name));
}
@if (RolInt > 8)
{
    <a style="float:left; width:auto; margin-left:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="DOCNew" title="Create new document">New Doc.</a>
    <a style="float:right; width:auto; margin-right:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="Movimientos" title="See movements documents">Movements</a>
}
<div class="text-center">
    @if (Global.Mensaje != "" & Global.Mensaje != null)
    {
        @if (Global.Mensaje.ToString().Substring(0, 5) == "ERROR")
        {
            <p style="color:lightcoral">@Global.Mensaje </p>
        }
        else
        {
            <p style="color:lightgreen">@Global.Mensaje </p>
        }
    }
    <table style="border: 0px; margin: 0 auto; ">
        <tr>
            <th style="border:0px; width:4%;"></th>
            @if (RolInt > 8)
            {
                <th style="border:0px;"></th>
                <th style="border:0px;"></th>
            }
            <th style="border:0px; width:1%;">
                <label>Document</label>
                <input id="searchTermDoc" type="text" onkeyup="doSearch()" />
            </th>

            <th style="border:0px; width:1%;">
                <label>Description</label>
                <input id="searchTermDescription" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px;"></th>
            @if (RolInt > 8)
            {
                <th style="border:0px;"></th>
            }
            <th style="border:0px; width:0.5%;">
                <label>Cod</label>
                <input id="searchTermCod" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px; width:0.5%;">
                <label>TYPE</label>
                <input id="searchTermTyp" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px; width:1%;">
                <label>STATE</label>
                <input id="searchTermSta" type="text" onkeyup="doSearch()" />
            </th>
            @if (RolInt > 8)
            {
                <th style="border:0px;"></th>
            }
        </tr>
    </table>
    <br />
    <h4>Documents </h4>
    <table id="datos" style="margin: 0 auto;">
        <tr>
            <th>DOC.</th>
            @if (RolInt > 8)
            {
                <th>ORIG.</th>
            }
            <th>Document</th>
            <th>Description</th>
            <th>Ed.</th>
            <th>Date</th>
            <th>Cod.</th>
            <th>Type</th>
            <th>State</th>
            @if (RolInt > 8)
            {
                <th>Actions</th>
            }
        </tr>
        @foreach (var Docs in (List<Tipo_Documentos>)Metodos.SQL_ConsulaDocumentos("Select * from Documentos order by xfec desc"))
        {
            if (Convert.ToInt32(Metodos.ObtenRol(User.Identity.Name)) > 8 | ((Docs.EstadoEdicion == "AP") & Metodos.ObtenUsuarioActivo(User.Identity.Name).Cod3.Contains(Docs.COD3)))
            {
            <tr>
                <th class="noSearch">
                    @if (Metodos.ExtensionArchivo(Docs.NombreArchivo) == ".doc" || Metodos.ExtensionArchivo(Docs.NombreArchivo) == ".docx" || Metodos.ExtensionArchivo(Docs.NombreArchivo) == ".xls" || Metodos.ExtensionArchivo(Docs.NombreArchivo) == ".xlsx")
                    {
                        <a target="_blank" href="~/Files/@Docs.EstadoEdicion/PDF/@Docs.NombreArchivo.Substring(0, Docs.NombreArchivo.Length + 1 - Metodos.ExtensionArchivo(Docs.NombreArchivo).Length)pdf" ;" title="View PDF">
                            <img src="~/Images/PDF.gif" alt="View PDF" />
                        </a>
                     }
                </th>
                @if (RolInt > 8)
                 {
                    <th class="noSearch">
                        <a target="_blank" href='~/Files/@Docs.EstadoEdicion/DOC/@Docs.NombreArchivo' title="Download File">
                        <img src="~/Images/Word.gif" alt="Download File" />
                        </a>
                    </th>
                 }
                <td>@Docs.Documento</td>
                <td>@Docs.Descripcion</td>
                <td>@Docs.NumEdicion</td>
                <td>@Docs.Xfec</td>
                <td>@Docs.CodTipo</td>
                <td>@Docs.TipoDoc</td>
                <td>@Docs.EstadoEdicion</td>
                @if (RolInt > 8)
                {
                    <th class="noSearch">
                        <form class="form" target="_blank" asp-action="DOCActions" enctype="multipart/form-data" method="post">
                            <input asp-for="NumDoc" type="text" value="@Docs.NumDoc" hidden />
                            <input asp-for="IdReg" type="text" value="@Docs.IdReg" hidden />
                            <button style="margin:auto" type="submit" class="Botones">Go</button>
                        </form>
                    </th>
                 }
            </tr>
         }
    }
    <tr class='noSearch hide'>
      <td colspan="12"></td>
    </tr>
</table>
</div>
<script>
    document.getElementById("Contenedor").className = "no";
    function doSearch() {
        //buscamos Documento
        const tableReg = document.getElementById('datos');
        var searchTextDoc = document.getElementById('searchTermDoc').value.toLowerCase();
        var searchTextDes = document.getElementById('searchTermDescription').value.toLowerCase();
        var searchTextCod = document.getElementById('searchTermCod').value.toLowerCase();
        var searchTextTyp = document.getElementById('searchTermTyp').value.toLowerCase();
        var searchTextSta = document.getElementById('searchTermSta').value.toLowerCase();
        var total = 0;
        var compareWith = "";
        var found = true
        var cellsOfRow = ""
        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }
            found = true;
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            // Recorremos todas las celdas
            //Buscamos Documento
            compareWith = cellsOfRow[0].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextDoc.length == 0 && compareWith.indexOf(searchTextDoc) < 0) {
                found = false
            }
            //Buscamos Descripción
            compareWith = cellsOfRow[1].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextDes.length == 0 && compareWith.indexOf(searchTextDes) < 0) {
                found = false;
            }
            //Buscamos Código
            compareWith = cellsOfRow[4].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextCod.length == 0 && compareWith.indexOf(searchTextCod) < 0) {
                found = false;
            }
            //Buscamos Type
            compareWith = cellsOfRow[5].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextTyp.length == 0 && compareWith.indexOf(searchTextTyp) < 0) {
                found = false;
            }
            //Buscamos State
            compareWith = cellsOfRow[6].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextSta.length == 0 && compareWith.indexOf(searchTextSta) < 0) {
                found = false;
            }

            if (found) {
                total++;
                tableReg.rows[i].style.display = '';
            }
            else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
        // mostramos las coincidencias
        const lastTR = tableReg.rows[tableReg.rows.length - 1];
        const td = lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");
        if (searchTextDoc == "" && searchTextDes == "" && searchTextCod == "" && searchTextTyp == "" && searchTextSta == "") {
            lastTR.classList.add("hide");
        } else if (total) {
            td.innerHTML = total + " Matches found.";
        } else {
            lastTR.classList.add("red");
            td.innerHTML = "No matches found.";
        }

    }
</script>