@model CreatePostTools
<style>
    table {
        width: 99%;
        border: 1px solid #999;
        margin: 0 auto;
        text-align: left;
        border-collapse: collapse;
        margin: 0 0 1em 0;
        caption-side: top;
    }

    th, td {
        border-bottom: 1px solid #999;
        width: 7%;
        padding: 0.3em;
        text-align: center;
    }

</style>
@{ ViewData["Title"] = "Tools";

}
<a style="float:left; width:auto; margin-left:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="NewType">New Type.</a>
<br />
@if (Global.Mensaje != "" & Global.Mensaje != null)
{
    @if (Global.Mensaje.ToString().Substring(0, 5).ToUpper() == "ERROR")
    {
        <div class="text-center">
            <p style="color:lightcoral">@Global.Mensaje </p>
        </div>
    }
    else
    {
        <div class="text-center">
            <p style="color:lightgreen">@Global.Mensaje </p>
        </div>
    }
}
<h4 @{Global.Mensaje = "";} class="text-center">Type for update</h4>
<table id="datos">
    <tr>
        <th>Type Name</th>
        <th>Type Code</th>
        <th>User</th>
        <th>Date</th>
        <th>Press to Update</th>
    </tr>
    @foreach (var Docs in (List<CreatePostTools>)Metodos.SQL_ConsultaTools("Select * from ToolsTypeDoc order by cod"))
    {
        <tr>
            <td>@Docs.NombreT</td>
            <td>@Docs.Cod</td>
            <td>@Docs.Xusr</td>
            <td>@Docs.Xfec</td>
            <th class="noSearch">
                <form class="form" asp-action="ToolsUpdate2" enctype="multipart/form-data" name="CreatePost" method="post">
                    <input asp-for="NombreT" type="text" value="@Docs.NombreT" hidden />
                    <input asp-for="Cod" type="text" value="@Docs.Cod" hidden />
                    <input asp-for="ToC" type="text" value="T" hidden />
                    <input asp-for="Id" type="number" value="@Docs.Id" hidden />
                    <button style="width:52px;height:52px; margin:auto" type="submit" class="Botones"><img alt="Update" src="~/Images/Update.png" /></button>
                </form>
            </th>
        </tr>
    }
</table>
