@page
@model AlmacenajeModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Almacenaje - @Idiomas.AlmacenAduanero</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <p> @Idiomas.En <strong>Espack Eurologística, </strong>@Idiomas.AlmacenL1</p>
        <table class="left">
            <tr>
                <td class="columnas2">
                    <ul>
                        <li><p>@Idiomas.AlmacenAduanero</p></li>
                        <li><p>@Idiomas.AlmacenL2</p></li>
                        <li><p>@Idiomas.AlmacenL3</p></li>
                        <li><p>@Idiomas.AlmacenL4</p></li>
                        <li><p>@Idiomas.AlmacenL5</p></li>
                        <li><p>@Idiomas.AlmacenL6</p></li>
                        <li><p>@Idiomas.AlmacenL7</p></li>
                        <li><p>@Idiomas.AlmacenL8</p></li>
                    </ul>
                </td>
                <td class="columnas2">
                    <div style="min-width: 300px; width:90%;float:right;">
                        <img class="img-thumbnail" title="@Idiomas.Almacenaje" src="~/Imagenes/almacen.jpg" alt="Espack" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>



