@page
@model CenConModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Centroconsolidadorcontenedores</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <p>
            @Idiomas.En <strong>Espack Eurologística</strong>,  @Idiomas.CenConL1
        </p>
        <table>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <p>
                                @Idiomas.CenConL2
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.CenConL3
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.CenConL4
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.CenConL5
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.CenConL6
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.CenConL7
                            </p>
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <div style="min-width: 300px; width:90%;float:right;">
                        <img class="img-thumbnail" title="@Idiomas.Centroconsolidadorcontenedores" src="~/Imagenes/Centro_consolidador_contendores.jpg" alt="Espack" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>


