@page
@model CerPreModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.CERTIFICADOS - @Idiomas.PREMIOS</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <h2><strong>@Idiomas.CERTIFICADOS</strong></h2>
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td class="columnas2"><img title="aenor" src="~/Imagenes/CerfifiPremi/aenor.jpg" alt="certificados" class="img-thumbnail" /><img title="iqnet" src="~/Imagenes/CerfifiPremi/iqnet.jpg" alt="iqnet" class="img-thumbnail" /></td>
                <td class="columnas2">
                    <p class="em1punto1">ESPACK EUROLOGÍSTICA, S.L. @Idiomas.Zaragoza</p>
                    <p class="em1punto1">ISO/TS 16949:2002 Nº RA02- 0054/2003</p>
                </td>
            </tr>
            <tr>
                <td colspan="4"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/ISO9001.jpg"><img class="img-thumbnail" title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001.jpg" alt="ISO9001" /></a></td>
                <td class="columnas2">
                    <p class="em1punto1">
                        ESPACK EUROLOGÍSTICA, S.L.
                    </p>
                    <p class="em1punto1">
                        ESPACK EUROLOGÍSTICA, S.L. - @Idiomas.Dagenham
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/excelencia.jpg"><img title="excelencia" src="~/Imagenes/CerfifiPremi/excelencia.jpg" alt="excelencia" class="img-thumbnail" /></a></td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, S.L. </p></td>
            </tr>
            <tr>
                <td><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/ISO14001.jpg"><img title="ISO14001" src="~/Imagenes/CerfifiPremi/ISO14001.jpg" alt="ISO14001" class="img-thumbnail" /></a></td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, S.L.</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <a target="_blank" href="~/Imagenes/CerfifiPremi/CerISO9001HAL.JPG"><img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001HAL.png" alt="ISO9001" class="img-thumbnail" /></a>
                    <a target="_blank" href="~/Imagenes/CerfifiPremi/CerISO14001HAL.JPG"><img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO14001HAL.png" alt="ISO9001" class="img-thumbnail" /></a>
                </td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, LTD @Idiomas.Halewood</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <a target="_blank" href="~/Imagenes/CerfifiPremi/ISO9001CRA.png"><img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001CRA.png" alt="ISO9001" class="img-thumbnail" /></a>
                    <a target="_blank" href="~/Imagenes/CerfifiPremi/IATF16949CRA.png"><img title="IATF16949" src="~/Imagenes/CerfifiPremi/IATF16949CRA.png" alt="IATF16949" class="img-thumbnail" /></a>
                </td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, SRL @Idiomas.Craiova</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    @if (Idiomas.En == "En")
                    {
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/Anexo9001ES_BRI.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/Anexo_14001_ES_BRI.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO14001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                    }
                    else
                    {
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/Anexo_9001IN_BRI.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/Anexo_14001_IN_BRI.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO14001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                    }

                </td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, S.L. @Idiomas.Bridgend</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    @if (Idiomas.En == "En")
                    {
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/9001_ES_VAL.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/14001_ES_VAL.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO14001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                    }
                    else
                    {
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/9001_IN_VAL.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO9001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                        <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/14001_IN_VAL.pdf">
                            <img title="ISO9001" src="~/Imagenes/CerfifiPremi/ISO14001.jpg" alt="ISO9001" class="img-thumbnail" />
                        </a>
                    }
                </td>
                <td class="columnas2"><p class="em1punto1">ESPACK EUROLOGÍSTICA, S.L. @Idiomas.Valencia</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <a target="_blank" href="~/Imagenes/CerfifiPremi/Normas_ISO/POLITICA_GESTION_ES_IN.pdf"><img title="@Idiomas.Politica" src="~/Imagenes/CerfifiPremi/Normas_ISO/Politica.jpg" alt="ISO9001" class="img-thumbnail" /></a>
                </td>
                <td class="columnas2"><p class="em1punto1">@Idiomas.Politica ESPACK EUROLOGÍSTICA, S.L.</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td>
                    <br />
                    <br />
                    <h2>
                        <strong>@Idiomas.PREMIOS</strong>
                    </h2>
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/Premio_Excelencia_Aragon.jpg"><img style="width:40%" class="img-thumbnail" title="Premio a la Excelencia de Aragón (2)" src="~/Imagenes/CerfifiPremi/Premio_Excelencia_Aragon.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">PREMIO EXCELENCIA ARAGÓN</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/DSC_23051.jpg"><img style="width:40%" class="img-thumbnail" title="DSC_2305" src="~/Imagenes/CerfifiPremi/DSC_23051.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">Q1-1993</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/DSC_2274.jpg"><img style="width:40%" class="img-thumbnail" title="DSC_2274" src="~/Imagenes/CerfifiPremi/DSC_2274.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">Q1-1998</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/QSP-2.jpg"><img style="width:40%" class="img-thumbnail" title="QSP (2)" src="~/Imagenes/CerfifiPremi/QSP-2.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">QSP</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/DSC_2301.jpg"><img style="width:40%" class="img-thumbnail" title="DSC_2301" src="~/Imagenes/CerfifiPremi/DSC_2301.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">QSP-1989</p></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2"><a target="_blank" href="~/Imagenes/CerfifiPremi/DSC_2299.jpg"><img style="width:40%" class="img-thumbnail" title="DSC_2299" src="~/Imagenes/CerfifiPremi/DSC_2299.jpg" /></a></td>
                <td class="columnas2"><p class="em1punto1">QSP-1994</p></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>