@page
@model CraiovaModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Craiova &nbsp;<img src="~/Imagenes/Rumania.png" /></h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="text-center">
            <img class="bordessombray99sinmargen" src="~/Imagenes/Craiova.jpg" />
        </div>
        <br /><br />
        <table width="100%">
            <tr>
                <td class="columnas2">
                    <p><strong>ESPACK EUROLOGÍSTICA, S.R.L. - @Idiomas.Craiova.ToUpper()</strong></p>
                    <ul>
                        <li>
                            <p>@Idiomas.OficinasCentrales.ToUpper()</p>
                        </li>
                        <li>
                            <p>CALEA BUCURESTI M16 B AP. 29 <br />CRAIOVA, DOLJ, COD 200529</p>
                        </li>
                        <li>
                            <p>@Idiomas.LUGARPRINCIPALTRABAJO</p>
                        </li>
                        <li>
                            <p>@Idiomas.FABRICAFORD, HENRY FORD NR. 29 <br /> CRAIOVA, DOLJ, COD 200745</p>
                        </li>
                        <li>
                            <p>@Idiomas.LUGARSECUNDARIOTRABAJO</p>
                        </li>
                        <li>
                            <p>STRADĂ SILOZULUI NR. 30 <br /> CARCEA, DOLJ, COD 207206</p>
                        <li>
                        <li>
                            <p>TEL: +40 725 656 866</p>
                        </li>
                    </ul>
                    <br />
                </td>
                <td class="columnas2">
                    <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.669036892645!2d23.82692679891723!3d44.297874483016315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d7c414087941%3A0x8c38c01a27013a58!2sEspack%20Eurologistica!5e1!3m2!1ses!2ses!4v1646321667202!5m2!1ses!2ses" width="400" height="400" loading="lazy"></iframe>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="col-sm-1"></div>