@page
@model EmpresasModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Empresas</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <table width="100%">
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Madrid" src="~/Imagenes/Logos/logo_Madrid.jpg" alt="Espack Madrid" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1">
                            <span><strong>ESPACK EUROLOGÍSTICA, S.L. – @Idiomas.Madrid</strong></span>
                        </li>
                        <li class="em1punto1"><span>C/ O´Donnell, 4 – Torre de Valencia</span></li>
                        <li class="em1punto1"><span>28009 (@Idiomas.Madrid) ESPAÑA</span></li>
                        <li class="em1punto1"><span>TEL. + 34 91 435 07 11</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Valencia" src="~/Imagenes/Logos/logo_Valencia.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1">
                            <span><strong>ESPACK EUROLOGÍSTICA, S.L. – @Idiomas.Valencia</strong></span>
                        </li>
                        <li class="em1punto1"><span>Parque Industrial Juan Carlos I, C/ La Granja 1</span></li>
                        <li class="em1punto1"><span>46440 Almussfes (@Idiomas.Valencia) ESPAÑA</></span></li>
                        <li class="em1punto1"><span>TEL. +34 96179 99 30 – +34 697 853 020</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Zaragoza" src="~/Imagenes/Logos/logo_Zaragoza.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, S.L. – @Idiomas.Zaragoza</strong></span></li>
                        <li class="em1punto1"><span>A-68, Km 266 – P.I. P6 Naves 2 y 3</span></li>
                        <li class="em1punto1"><span>50639 Figueruelas (@Idiomas.Zaragoza) ESPAÑA</span></li>
                        <li class="em1punto1"><span>TEL.+34 976 61 16 44</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Bridgend" src="~/Imagenes/Logos/logo_Bridgend.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, S.L. – @Idiomas.Bridgend</strong></span></li>
                        <li class="em1punto1"><span>Unit 2 New Street Bridgend Industrial Estate</span></li>
                        <li class="em1punto1"><span>Bridgend – Bridgend Country Borough CF31 3UD WALES</span></li>
                        <li class="em1punto1"><span>Tel. +44(0) 7875999684</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Dagenham" src="~/Imagenes/Logos/logo_Dagenham.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, S.L. – @Idiomas.Dagenham</strong></span></li>
                        <li class="em1punto1"><span>Manchester Way, Unit 8 Heathway Industrial Estate</span></li>
                        <li class="em1punto1"><span>Dagenham, Essex RM10 8PN ENGLAND – UK</span></li>
                        <li class="em1punto1"><span>TEL. +44(0)2085 173 322</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Craiova" src="~/Imagenes/Logos/logo_Craiova.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, SRL – @Idiomas.Craiova</strong></span></li>
                        <li class="em1punto1"><span>Henry Ford nr. 29, Craiova, Dolj, cod 200745</span></li>
                        <li class="em1punto1"><span>Str . SILOZULUI nr 30, Carcea, Dolj, cod 207206</span></li>
                        <li class="em1punto1"><span>Romania</span></li>
                        <li class="em1punto1"><span>TEL. +40 725 656 866</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Halewood" src="~/Imagenes/Logos/logo_Halewood.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, LTD – @Idiomas.Halewood</strong></span></li>
                        <li class="em1punto1"><span>19 Renaissance Way</span></li>
                        <li class="em1punto1"><span>Boulebard Industry Park Halewood</span></li>
                        <li class="em1punto1"><span>Halewood, Liverpool L24 9JW</span></li>
                        <li class="em1punto1"><span>TEL. +44 (0) 787 977 7585 </span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Wolverhampton" src="~/Imagenes/Logos/logo_Wolverhampton.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, LTD – @Idiomas.Wolverhampton</strong></span></li>
                        <li class="em1punto1"><span>Unit 4, Merryhills Enterprise Park</span></li>
                        <li class="em1punto1"><span>Park Lane, Wolverhampton WV10 9TJ</span></li>
                        <li class="em1punto1"><span>TEL. +44 (0) 1902 724 474</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Graz" src="~/Imagenes/Logos/logo_Graz.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, GMBH – @Idiomas.Graz</strong></span></li>
                        <li class="em1punto1"><span>Kantgasse 3/1/9</span></li>
                        <li class="em1punto1"><span>1010 Wien</span></li>
                        <li class="em1punto1"><span>TEL. +421 903 44 84 33</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Eslovaquia" src="~/Imagenes/Logos/logo_slovakia.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, SRO – @Idiomas.Eslovaquia</strong></span></li>
                        <li class="em1punto1"><span>Prologis DC2</span></li>
                        <li class="em1punto1"><span>Dolne Hony</span></li>
                        <li class="em1punto1"><span>94901 Nitra</span></li>
                        <li class="em1punto1"><span>Tel. +421 903 44 84 33</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.Colonia" src="~/Imagenes/Logos/logo_Colonia.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, GMBH – @Idiomas.Colonia</strong></span></li>
                        <li class="em1punto1"><span>Vitalisstraße 198</span></li>
                        <li class="em1punto1"><span> 50827 (@Idiomas.Colonia) Alemania</span></li>
                        <li class="em1punto1"><span>Tel. +49 664 434 62 50</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <img class="img-thumbnail" title="@Idiomas.CastleBromwich" src="~/Imagenes/Logos/logo_Castle.jpg" alt="Espack" />
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <ul>
                        <li class="em1punto1"><span><strong>ESPACK EUROLOGÍSTICA, LTD – @Idiomas.CastleBromwich</strong></span></li>
                        <li class="em1punto1"><span></span></li>
                        <li class="em1punto1"><span>(@Idiomas.CastleBromwich) Reino Unido</span></li>
                        <li class="em1punto1"><span>Tel. +44(0)1213 772 300</span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>