@page
@model IndexModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<style>
    .col-lg-12 {
        display: none;
        color: white;
    }
    body {
        background: linear-gradient(to right, white, 50%, white);
    }
    #pie {
        display:none;
        color:white;
    }
</style>
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header" style="color:darkblue;">@Idiomas.SeleccionWeb</h2>

    <br />    <br />
    <div class="text-center">
        <img class="text-center" style="width:70%" src="~/Imagenes/Logos/EspackEurologistica.png" />
    </div>
    <br /><br />
    <a target="_blank" title="@Idiomas.Web1Titulo" href="~/Imagenes/PDF/Espack2021.pdf" class="Botones" style="padding:25px; float:left">@Idiomas.Web1Titulo</a>
    <a class="Botones" title="@Idiomas.Web2Titulo" style="padding: 25px; float: right" href="~/QueEsEspack">@Idiomas.Web2Titulo</a>
    <br /><br />
</div>
<div class="col-sm-1"></div>
<script>
    var x = document.getElementsByClassName("navbar navbar-inverse navbar-fixed-top");   
    x[0].style.display = "none";
</script>


