@page
@model MediosModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Medios</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <p> @Idiomas.MediosL1<strong> Espack Eurologística</strong>:</p>
        <br />
        <!--  <div class="carousel slide"> -->
        <!-- Compiled and minified Bootstrap CSS -->

        <div id="myCarouselCustom2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarouselCustom2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarouselCustom2" data-slide-to="1"></li>
                <li data-target="#myCarouselCustom2" data-slide-to="2"></li>
                <li data-target="#myCarouselCustom2" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="text-center">
                        <img class="img-thumbnail" src="~/Imagenes/Banner/Medios0.png" alt="@Idiomas.Medios" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <div class="text-center">
                        <img class="img-thumbnail" src="~/Imagenes/Banner/Medios1.png" alt="@Idiomas.Medios" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>

                <div class="item">
                    <div class="text-center">
                        <img class="img-thumbnail" src="~/Imagenes/Banner/Medios2.png" alt="@Idiomas.Medios" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img class="img-thumbnail" src="~/Imagenes/Banner/Medios3.png" alt="@Idiomas.Medios" />
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarouselCustom2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarouselCustom2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>
