@page
@model TrasvaseModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Trasvaseacontenedoresespec</h2>
    <div class="jumbotron jumbotron2">
        <br />
        <p>
            @Idiomas.En <strong>Espack Eurologística</strong>, @Idiomas.TrasvaseL1
        </p>
        <table>
            <tr>
                <td class="columnas2">
                    <ul>
                        <li>
                            <p>
                                @Idiomas.TrasvaseL2
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.TrasvaseL3
                            </p>
                        </li>
                        <li>
                            <p>
                                @Idiomas.TrasvaseL4
                            </p>
                        </li>
                    </ul>
                </td>
                <td class="columnas2">
                    <div style="min-width: 300px; width:90%;float:right;">
                        <img class="img-thumbnail" title="@Idiomas.Trasvaseacontenedoresespec" src="~/Imagenes/Trasvase.jpg" alt="Espack" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>


