@model CreatePost
@{
    ViewData["Title"] = "S . G . D . E . New Doc.";
}
<link rel="stylesheet" type="text/css" href="~/css/Formulario.css">
@if (ViewBag.Mensaje != "" & ViewBag.Mensaje != null)
{
    <div class="text-center">
        @if (ViewBag.Mensaje.Substring(0, 5).ToUpper() == "ERROR")
        {
            <p style="color:lightcoral">@ViewBag.Mensaje</p>
        }
        else
        {
            <p style="color:lightgreen">@ViewBag.Mensaje</p>
        }
    </div>
}
@{Global.Mensaje = ""; }
<div class="text-center" id="Formulario">
    <form class="form" asp-action="DOCNew" enctype="multipart/form-data" name="CreatePost" method="post">
        <div id="Nombre">
            <input asp-for="Documento" type="text" value="" maxlength="20" required />
            <label class="lbl-nombre">
                <span class="text-nomb">Document Name</span>
            </label>
        </div>
        <div id="File">
            <input asp-for="Archivo" type="file" required />
            <label class="lbl-nombre">
                <span class="text-nomb"></span>
            </label>
        </div>
        <div id="Descrip">
            <input asp-for="Descripcion" type="text" value=""maxlength="150" required />
            <label class="lbl-nombre">
                <span class="text-nomb">Description</span>
            </label>
        </div>
        <div id="TiDocument">
            <select asp-for="TipoDocumento" required>
                <option value="">Choose Type of Document</option>
                @foreach (var D in (List<CreatePostTools>)Metodos.SQL_ConsultaTools("Select * from ToolsTypeDoc order by cod"))
                {
                    <option value="@D.Cod">@D.NombreT</option>
                }
            </select>
        </div>
        <div id="CoTipo">
            <select asp-for="CTipo" required>
                <option value="">Choose Code of Document</option>
                @foreach (var D in (List<CreatePostTools>)Metodos.SQL_ConsultaTools("Select * from ToolsCodeDoc order by cod"))
                {
                    <option value="@D.Cod">@D.Cod</option>
                }
            </select>
        </div>
        <div id="Edicion" style="width:100%">
            <input asp-for="Obs" type="text" maxlength="200" />
            <label class="lbl-nombre">
                <span class="text-nomb">Obs.</span>
            </label>
        </div>
        <button style="position:absolute;top:400%;left:0" type="submit" class="Botones">Submit</button>

    </form>
</div>
