@model Tipo_TrazaDocumentos
<style>
    table {
        width: 99%;
        border: 1px solid #999;
        margin: 0 auto;
        text-align: left;
        border-collapse: collapse;
        margin: 0 0 1em 0;
        caption-side: top;
    }

    caption, td, th {
        padding: 0.3em;
    }

    th, td {
        border-bottom: 1px solid #999;
        width: 7%;
        padding: 0.3em;
        text-align: center;
    }

    caption {
        font-weight: bold;
        font-style: italic;
    }
    .noSearch.red {
        color: lightcoral;
    }
    .noSearch.hide {
        display:none;
    }
</style>
@{
    ViewData["Title"] = "S . G . D . E . Documents";
}

<a style="float:left; width:auto; margin-left:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="DOCNew" title="Create new document">New Doc.</a>
<div class="text-center">
    <table style="border: 0px; margin: 0 auto; ">
        <tr>
            <th style="border:0px;width:5%;"></th>
            <th style="border:0px;">
                <label>Document</label>
                <input id="searchTermDoc" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px;">
                <label>Description</label>
                <input id="searchTermDescription" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px;"></th>
            <th style="border:0px;"></th>
            <th style="border:0px; width:5%;">
                <label>User</label>
                <input id="searchTermUse" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px; width:5%;">

                <label>State</label>
                <input id="searchTermSta" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px; width:5%;">
                <label>Action</label>
                <input id="searchTermAct" type="text" onkeyup="doSearch()" />
            </th>
            <th style="border:0px;"></th>
        </tr>
    </table>
    <br />
    <h4>
        Movements of Document

    </h4>
    <table id="datos" style="margin: 0 auto;">
        <tr>
            <th>Id</th>
            <td>Document</td>
            <td>Description</td>
            <th>Date</th>
            <th>Ed.</th>
            <th>User</th>
            <th>State</th>
            <th>Action</th>
            <th>Obs.</th>
        </tr>
        @foreach (var Docs in (List<Tipo_TrazaDocumentos>)Metodos.SQL_ConsulaTrazaDocumentos("Select * from TrazaDocumentos order by xfec"))
        {
            if (Convert.ToInt32(Metodos.ObtenRol(User.Identity.Name)) > 9 | Metodos.ObtenUsuarioActivo(User.Identity.Name).Cod3.Contains(Docs.COD3))
            {
                <tr>
                    <td>@Docs.Id</td>
                    <td>@Docs.Documento</td>
                    <td>@Docs.Descripcion</td>
                    <td>@Docs.Xfec</td>
                    <td>@Docs.NumEdicion</td>
                    <td>@Docs.Xusr</td>
                    <td>@Docs.EstadoEdicion</td>
                    <td>@Docs.Accion</td>
                    <td>@Docs.Obs</td>
                </tr>
            }
        }
        <tr class='noSearch hide'>
            <td colspan="10"></td>
        </tr>
    </table>
</div>
<script>
    document.getElementById("Contenedor").className = "no";
    function doSearch() {
        //buscamos Documento
        const tableReg = document.getElementById('datos');
        var searchTextDoc = document.getElementById('searchTermDoc').value.toLowerCase();
        var searchTextDes = document.getElementById('searchTermDescription').value.toLowerCase();
        var searchTextUse = document.getElementById('searchTermUse').value.toLowerCase();
        var searchTextAct = document.getElementById('searchTermAct').value.toLowerCase();
        var searchTextSta = document.getElementById('searchTermSta').value.toLowerCase();
        var total = 0;
        var compareWith = "";
        var found = true
        var cellsOfRow = ""
        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }
            found = true;
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            // Recorremos todas las celdas
            //Buscamos Documento
            compareWith = cellsOfRow[1].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextDoc.length == 0 && compareWith.indexOf(searchTextDoc) < 0) {
                found = false
            }
            //Buscamos Descripción
            compareWith = cellsOfRow[2].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextDes.length == 0 && compareWith.indexOf(searchTextDes) < 0) {
                found = false;
            }
            //Buscamos User
            compareWith = cellsOfRow[5].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextUse.length == 0 && compareWith.indexOf(searchTextUse) < 0) {
                found = false;
            }
            //Buscamos State
            compareWith = cellsOfRow[6].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextSta.length == 0 && compareWith.indexOf(searchTextSta) < 0) {
                found = false;
            }
            //Buscamos Action
            compareWith = cellsOfRow[7].innerHTML.toLowerCase();
            // Buscamos el texto en el contenido de la celda
            if (!searchTextAct.length == 0 && compareWith.indexOf(searchTextAct) < 0) {
                found = false;
            }

            if (found) {
                total++;
                tableReg.rows[i].style.display = '';
            }
            else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
        // mostramos las coincidencias
        const lastTR = tableReg.rows[tableReg.rows.length - 1];
        const td = lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");
        if (searchTextDoc == "" && searchTextDes == "" && searchTextUse == "" && searchTextSta == "" && searchTextAct == "") {
            lastTR.classList.add("hide");
        } else if (total) {
            td.innerHTML = total + " Matches found.";
        } else {
            lastTR.classList.add("red");
            td.innerHTML = "No matches found.";
        }

    }
</script>