@model CreatePostTools
@{
    ViewData["Title"] = "S . G . D . E . Update Tools.";
}

<link rel="stylesheet" type="text/css" href="~/css/Formulario.css">
<form style="float:right; width:auto; margin-right:10px;" class="form" asp-action="ToolsDel" enctype="multipart/form-data" name="CreatePost" method="post">
    <input asp-for="Cod" type="text" value="@ViewBag.Code" required hidden />
    <input asp-for="ToC" type="text" value="@ViewBag.T_C" required hidden />
    <input asp-for="Id" type="number" value="@ViewBag.Id" required hidden />
    <input asp-for="Confirma" type="text" required hidden />
    <button style="width:auto; margin-right:10px;" type="submit" class="Botones" onclick="Confirmar()">Delete Doc.</button>
</form>
<a style="float:left; width:auto; margin-left:10px;" class="Botones" asp-area="" asp-controller="Home" asp-action="DOCUpdate">Back</a>
    <div class="text-center" id="Formulario">
        <form class="form" asp-action="ToolsUpdate3" enctype="multipart/form-data" name="CreatePost" method="post">
            @if (ViewBag.T_C == "T")
            {
                <div id="File">
                    <input asp-for="NombreT" type="text" maxlength="30" value="@ViewBag.Nombre" required />
                    <label class="lbl-nombre">
                        <span class="text-nomb">Type Name</span>
                    </label>
                </div>
            }
            <div id="Descrip">
                <input asp-for="Cod" type="text" maxlength="5" value="@ViewBag.Code" required />
                <label class="lbl-nombre">
                    <span class="text-nomb">Code</span>
                </label>
            </div>
            <input asp-for="ToC" type="text" value="@ViewBag.T_C" required hidden />
            <input asp-for="Id" type="number"  value="@ViewBag.Id" required hidden />
            <button style="position:absolute;top:100%;left:0" type="submit" class="Botones">Submit</button>
        </form>
    </div>
    <script>
        document.getElementById("Contenedor").className = "no";
        function Confirmar() {
            var r = confirm("Are you sure you want to delete?");
            if (r == true) {
                document.getElementById("Confirma").value = 1;
            } else {
                document.getElementById("Confirma").value = 0;
            }
        }
    </script>